.mainBlock {
  position: relative;
  height: 100%;
  width: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
